/**no content**/

ion-card-header{
    text-align: center;
    font-weight: bold;
    color: rgb(1, 1, 32);
    padding: 3px;
    padding-top: 20px;
}



.background {
    --background: linear-gradient(to right top, #3787ac, #4594b9, #52a1c6, #5faed3, #6cbbe0);
}

ion-card{
    background-color: white;
}